.sideHeading{
    font-size: medium;
}
.adjustPadding{
    padding-left: 0px;
}
.alignCenter{
    text-align: center;
}

.fujitsuFont {
       font-family: "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
  }
